* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    /* background-color: #222222;  */
    font-family: sans-serif;
}

header{
    background-color: #EC7131;
    /* height: 15%; */
}
header>div, footer>div{
    justify-content: space-between;
}
.flex_container{
    display: flex;
    width: 100%;
}
.flex_centered{
    justify-content: center;
    align-content:center ;
}
.wrap{
    flex-wrap: wrap;
}
.boxed{
    width: 60%;
    margin: 0 auto;
}
.links{
    justify-self: flex-start;
    align-items: center;
    font-weight: 700;
}
.icons{
    justify-self: flex-end;
    justify-content: flex-end;
}
.links, .icons, .logo{
    padding: 1rem ;
    gap: 1rem;
}
.logo img{
    height: 1.5rem;
}
.icons img{
    height: 1.5rem;   
}

.card{
    width: calc(33% - 1rem);
    padding: 2rem 0;
}
.card img{
    width: 100%;

}
.relative{
    position: relative;
    width: 100%;
}
.tiket{
    display: inline-block;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    font-weight: 600;
    position: absolute;
   
}
.discount{
    background-color: #E93628;
    bottom: 4rem;
    left: 0;
}
.more_info{
    background-color: #397D26;
    bottom: 4rem;
    left: 0;
}
.more_info_discount{
    left: 4rem;
}
.favorite{
    background-color: #FFFFFF;
    color: #000000;
    font-size: xx-large;
    /* border: solid 1px red; */
    /* top: -1rem; */
    right: 0;
    transform: translateY(25%);
    z-index: 3;
}
.favorite:hover{
    color: #E93628;
    
}
.new_price{
    color: #E93628;
    display: inline;
    font-weight: 600;
}
.old_price{
    color: #000000;
    display: inline;
    text-decoration: line-through;
}
.img_hover{
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    /* border: solid 1px #000000; */
    opacity: 0;
}
.relative:hover .img_hover{
    opacity: 1;
}
footer{
    background-color: #1F1F1F;
    padding-top: 2rem;
    padding-bottom: 2rem;;
}
.footer_spacing{
     gap: 0.5rem;
    padding-top: 1rem;
}
.social_icons{
   height: 2.4rem;
}
.footer_link{
    font-size: small;
}
footer, header{
    /* min-height: 90px; */
    color: #ffffff;
}
main{
    min-height: 30rem;
    gap: 1rem;
}